
* {
    position: relative;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

#web-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition-duration: 0s;
}
 
#topbar {
    width: 100%;
    height: 60px;

    border-bottom-color: #313339;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #111216;
    
    top: 0px;
    position: sticky;

    z-index: 2;
}

#link-ref {
    display: inline;
}

#backdrop {
    object-fit: contain;
    width: 1250px;
    height: auto;
    top: 0px;

    overflow: hidden;
    position: absolute;
    margin: 0px;
    margin-left: 50%;
    transition-duration: 0s;
    transform: translateX(-50%);
}

#bottom-img {
    object-fit: contain;
    width: 100%;
    height: auto;

    min-width: 960px;

    margin: 0px;
    padding: 0px;

    opacity: 25%;
    overflow: hidden;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

    bottom: 0px;
}

#title {
    transition-duration: 0s;
    margin: 0px;
    margin-top: 170px;
    font-size: 55px;
    width: 100%;
    text-align: center;
}

#subtitle {
    margin: 0px;
    margin-top: 12px;
    line-height: 140%;
    font-size: 14px;
    width: 100%;
    font-weight: 300;
    text-align: center;
    color: #bbbcbe;
}

#topbar img {
    width: auto;
    height: 60%;

    display: inline;
    top: 20%;
    margin-left: 32px;
}

#topbar h2 {
    font-size: 2.7vh;
    width: auto;
    top: 2px;
    display: inline;
    margin-left: 15px;
}

#topbar h6 {
    font-size: 16px;
    font-weight: 300;
    color: #bbbcbe;
    display: inline;
    margin-left: 24px;
}

#main-button {
    transition-duration: 0s;
    max-width: 310px;
    width: 100%;
    height: auto;

    text-align: center;
    font-size: 20px;
    font-weight: 500;

    color: #111216;
    background-color: #e8e8e8;
    border-radius: 8px;

    padding: 14px;
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
    margin-top: 42px;
    
    box-shadow: 2px 2px 6px black;
}

#main-button:hover {
    background-color: #ffffff;
}

#breaker-line-one {
    background-color: #323232;
    width: 1px;
    height: 110px;
    margin-top: 39px;
    margin-left: 50%;
    margin-bottom: 152px;
}

#page-icon-display {
    position: absolute;

    width: 38px;

    margin-left: 50%;
    margin-top: -120px;
    transform: translateX(-50%);
}

#device-warning {
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    color: #bbbcbe;
    margin-top: -24px;
    position: absolute;
    text-align: center;
    display: none;
}

#explore {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    margin-top: -58px;
    position: absolute;
    text-align: center;
}

.topic-section {
    height: 240px;
    width: 88%;

    margin: 0px;
    padding: 0px;

    margin-left: 6%;
    margin-top: 24px;
    margin-bottom: 32px;
}

.topic-section h1 {
    transition-duration: 0.2s;
    width: auto;
    font-size: 20px;
    color: #528bff;
    margin: 2px;
    text-shadow: 0px 2px 8px black;
}

.topic-section h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 5px;
    margin-left: 2px;
    text-shadow: 0px 2px 8px black;
}

#section-start {
    margin-top: 200px;
    transition-duration: 0.2s;
}

.topic-scrollbar {
    overflow: auto;
    margin: 2px;
    top: 11px;
    height: 170px;
    width: 100%;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    mask-image: linear-gradient(to right, #111216, #111216 calc(100% - 3px), transparent);
}

.topic-scrollbar::-webkit-scrollbar {
    display: none;
}

.topic-scrollbar div {
    background-color: #000000;

    width: 270px;
    height: 160px;

    margin-right: 8px;
    display: inline-block;
    bottom: 0px;

    box-shadow: 2px 2px 6px black;
    border-radius: 8px;
}

.topic-scrollbar div h2 {
    position: absolute;
    margin-left: 8px;
    bottom: 0px;
    font-size: 16px;
    width: 100%;
    text-shadow: 2px 2px 8px #111216;
    font-weight: 600;
}

.topic-scrollbar div img {
    transition-duration: 0.2s;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    opacity: 85%;
}

.topic-scrollbar div img:hover {
    opacity: 100%;
}

.gradient {
    min-width: 920px;
    width: 100%;
    height: 240px;
    background: radial-gradient(#404661, transparent, transparent);
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}

#studio-img {
    width: 90%;
    height: auto;

    max-width: 640px;
    
    margin: 0px;
    margin-left: 50%;
    margin-top: 56px;
    transform: translateX(-50%);
}

#earth-img {
    width: 65%;
    height: auto;
    
    min-width: 720px;

    margin: 0px;
    margin-left: 50%;
    margin-top: 450px;
    transform: translateX(-50%);

    position: absolute;
}

#gradient2 {
    margin-top: 310px;
}

#anchor {
    top: -200px;
}

#about-title {
    transition-duration: 0.2s;
    font-size: 24px;
    font-weight: 600;

    margin: 0px;
    margin-left: 4%;
    margin-top: 120px;
    text-shadow: 2px 2px 8px black;
}

#about-info {
    transition-duration: 0.2s;
    text-align: justify;
    font-size: 16px;
    font-weight: 100;

    margin: 0px;
    margin-left: 4%;
    margin-top: 12px;
    padding-bottom: 32px;
    
    width: 92%;
    max-width: 720px;
    text-shadow: 2px 2px 8px black;
}

@media (max-width: 720px) or (pointer: none) or (pointer: coarse) {
    #title {
        font-size: 41px;
    }

    #section-start {
        margin-top: 210px;
    }

    #gradient2 {
        margin-top: 190px;
    }

    #topic-section h1 {
        font-size: 16px;
    }

    #about-title {
        margin-top: 130px;
        font-size: 20px;
        margin-left: 5%;
    }

    #about-info {
        max-width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 940px) or (pointer: none) or (pointer: coarse) {
    #link-ref {
        display: none;
    }
}

@media (pointer: none) or (pointer: coarse) {
    #topbar {
        height: 90px;
    }

    #anchor {
        top: -290px;
    }
    
    #studio-img {
        max-width: none;
    }

    #device-warning {
        display: block;
    }
}
