
* {
    position: relative;

    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

#web-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}
 
#topbar {
    width: 100%;
    height: 60px;

    border-bottom-color: #313339;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #111216;
    
    top: 0px;
    position: sticky;

    z-index: 2;
}

#topbar img {
    width: auto;
    height: 60%;

    display: inline;
    top: 20%;
    margin-left: 32px;
}

#topbar h2 {
    font-size: 2.7vh;
    width: auto;
    top: 2px;
    display: inline;
    margin-left: 15px;
}

#topbar h6 {
    font-size: 16px;
    font-weight: 300;
    color: #bbbcbe;
    display: inline;
    margin-left: 24px;
}

@media (max-width: 940px) or (pointer: none) or (pointer: coarse) {
    #topbar h6 {
        display: none;
    }
}

@media (pointer: none) or (pointer: coarse) {
    #topbar {
        height: 90px;
    }
}
